/*tool tip 
tool-tip[facing="top"] {
    color: tan
}
tool-tip[facing="bottom"] {
    color: blue
}
tool-tip[facing="left"] {
    color: lime
}
tool-tip[facing="right"] {
    color: red
}
*/
/* tool tip text*/
tool-tip[facing="top"] tool-tip-text {
    position: relative;
    display: inline-block;
}
tool-tip[facing="bottom"] tool-tip-text {
    position: relative;
    display: inline-block;
}
tool-tip[facing="left"] tool-tip-text {
    position: relative;
    display: inline-block;
}
tool-tip[facing="right"] tool-tip-text {
    position: relative;
    display: inline-block;
}
/*tool tip content*/
tool-tip[facing="top"] tool-tip-content {
    width: 120px;
    top: 0;
    left: 50%;
    margin-left: -60px;
    /*-*/
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
tool-tip[facing="bottom"] tool-tip-content {
    width: 120px;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    /*-*/
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
tool-tip[facing="left"] tool-tip-content {
    top: -5px;
    left: 0;
    /*-*/
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
tool-tip[facing="right"] tool-tip-content {
    --op: attr(style width);
    top: -5px;
    right: 0;
    /*-*/
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
/*tool tip > text on hover -> content visible*/
tool-tip[facing="top"] tool-tip-text:hover + tool-tip-content {
    visibility: visible;
}
tool-tip[facing="bottom"] tool-tip-text:hover + tool-tip-content {
    visibility: visible;
}
tool-tip[facing="left"] tool-tip-text:hover + tool-tip-content {
    visibility: visible;
}
tool-tip[facing="right"] tool-tip-text:hover + tool-tip-content {
    visibility: visible;
}

  /* Show the tooltip text when you mouse over the tooltip container */
  