tool-tip tool-tip-text {
    position: relative;
    display: inline-block;
}
tool-tip tool-tip-content {

   
    /* Position the tooltip text - see examples below! */
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
tool-tip-text:hover + tool-tip-content {
    visibility: visible;
}
tool-tip[facing="top"] {

}
tool-tip[facing="bottom"] {

}
tool-tip[facing="left"] {

}
tool-tip[facing="righ"] {
    
}

tool-tip[facing="top"] tool-tip-content {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
tool-tip[facing="bottom"] tool-tip-content {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
tool-tip[facing="left"] tool-tip-content {
    top: -5px;
    right: 105%;
}       
tool-tip[facing="righ"] tool-tip-content {
    top: -5px;
    left: 105%;
}



  /* Show the tooltip text when you mouse over the tooltip container */
  